body {
  background: #cadefc;
}

img {
  max-width: 100%;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  line-height: 150%;
}
button {
  display: block;
  margin: 0 auto;
  border: 1px solid #cadefc;
  background: white;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
button:hover {
  background-color: #cadefc;
  cursor: pointer;
}
footer {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
}
.container {
  max-width: 600px;
  background: white;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
}
.theme-button {
  font-size: 10px;
  background: black;
  color: white;
  padding: 5px 8px;
  border-radius: 4px;
}
.theme-button:hover {
  background: white;
  color: black;
}
.sourdough-starter-image {
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}
.sourdough-starter-image:hover {
  filter: contrast(70%);
  transform: scale(1.2);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.grid img {
  width: 100%;
  border-radius: 10px;
}
.grid img:hover {
  transform: scale(1.2);
}
.dark {
  background: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  color: white;
}
.dark .container {
  background: radial-gradient(
    666px at 0.4% 48%,
    rgb(202, 204, 227) 0%,
    rgb(89, 89, 99) 97.5%
  );
}
.dark a {
  color: burlywood;
}
